extends layout
block content
    .stats.well
      h1=  title
      hr
      a(href="logout") Logout
      hr
      h2 Top five hosts
      ul
      - for (var i = 0; i < topHosts.length; i++) {
        li #{topHosts[i]}
      - }
      ul
      h2 Top five files
      ul
      - for (var i = 0; i < topFiles.length; i++) {
        li #{topFiles[i]}
      - }
      ul
    include message
